/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

.App {
  font-family: Arial, sans-serif;
  padding: 20px;
}
h1{
  font-size: 28px;
  margin-bottom: 12px;
  
}
h2{
  font-size: 25px;
  margin-bottom: 12px;
}
h3{
  font-size: 20px;
  margin-bottom: 12px;
}

.recipe-card {
  /* border: 1px solid #ccc; */
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 10px;
  justify-content: space-between;
  display: flex;
  gap: 12px;
  flex-direction: column;
  width: 20%;
}
.recipe-card figure{
  max-width: 100%;
  margin: 0;
  max-height: 130px; /*temporary*/
  overflow: hidden;
}
.recipe-card figure img{
  width: 100%;
}
.recipe-card article{
  padding: 0 6px;
}

.recipe-list {
  display: flex;
  gap: 16px;
  flex-wrap: wrap;

}

form {
  display: flex;
  flex-direction: column;
}

input,
textarea {
  margin-bottom: 10px;
  padding: 8px;
  font-size: 1rem;
}

button {
  padding: 8px;
  font-size: 1rem;
  background-color: #28a745;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #218838;
}
